body {
  overflow: unset;
}
.photosContainer {
  margin: 0 5vw;
  display: flex;
  justify-content: center;
}

.photosWraper {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw;
  column-gap: 10px;
}

.image {
  margin: 5px;
  width: 25vw;
  height: 25vw;
  border: 1px solid rgb(200, 200, 200);
  overflow: hidden;
  position: relative;        
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image img {
  object-fit: cover;
  width: fit-content;
  min-width: 25vw;
  min-height: 25vw;
}