body {
  height: 100vh;
  overflow-y: hidden;
}

.modalPhotosContainer {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  height: 100%;
}

.modalPhotosContainer .cancel {
  position: absolute;
  top: 30px;
  right: 100px;
  cursor: pointer;
  width: 25px;
}

.modalPhotosContainer .BrainhubCarousel__container {
  margin-left: 50px;
  margin-right: 50px;
}

.modalPhotosContainer .BrainhubCarousel__arrows,
.modalPhotosContainer .BrainhubCarousel__arrows:hover:enabled,
.modalPhotosContainer .BrainhubCarousel__arrows:disabled {
  background-color: transparent;
  height: 200px;
  width: 200px;
}

.modalPhotosContainer .BrainhubCarousel__arrows:disabled span,
.modalPhotosContainer .BrainhubCarousel__arrows:disabled:hover span {
  border-color: rgba(0, 0, 0, 0.85);
}

.modalPhotosContainer .BrainhubCarousel__arrows:hover:enabled {
  background-color: transparent;
}

.modalPhotosContainer .BrainhubCarousel__arrows span {
  height: 25px;
  width: 25px;
  border-width: 5px 5px 0 0 !important;
}