.formContainer {
  display: flex;
  justify-content: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.formContainer .item {
  margin: 10px;
}

.formContainer .item #submit {
  background-color: white;
  border-color:#146e9b;
  border-style: solid;
  color:#146e9b;
  width: 100px;
  height: 30px;
  border-radius: 15px;
}